/* ARELY ARELY ARELY ARELY ARELY ARELY ARELY ARELY ARELY ARELY ARELY*/
body{
    background: url(../assets/bgtexture.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-attachment: scroll;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

/* body of catagory */
.cat{
    padding: 5%;
}

.paddd{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* the main title page for catering */
.catHead{
    background-color: #FFFFFF;
    color: #5F002B;
    font-size: 50px;
}

 /* title in catering */
.catTitle{
    
    color: #5F002B;
    font-size: 30px;
}

/* the paragraph in catering */
.para{

    color: #5F002B;
    font-size: 10px;
}

/* collum */
.colback{
    background-color: #FFFFFF;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
}

/* JOHN */

/* HARRISON */