/* ARELY */


/* JOHN */

/* HARRISON */
body {
    background-image: url(../assets/bgtexture.jpg);
}
.titleText {
    color: #5F002B;
}
.descriptionText {
    color: #5F002B;
}
#StoryText {
    color: #5F002B;
}
.StoryGrill {
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
#ourTeam {
    background-color: white;
    text-align: center;
    color: #5F002B;
    margin-bottom: 2%;
    margin-top: 2%;

}
.dogCards {
    padding-top: 2%;
    /* padding-left: 8%;
    padding-right: 8%; */

}
.nav-link {
    color: #5F002B;
}
.card-text {
    color: #5F002B;
}
.card-title {
    color: #5F002B;
}
